# Ignore the logs
logs

# Ignore the python cache and settings
**/__pycache__
**/settings.json
/ETS2LA/global.json

# Ignore the TrafficLightDetection YOLO files
/ETS2LA/plugins/TrafficLightDetection/AIModel

# Ignore the NavigationDetection YOLO and AI files
/ETS2LA/plugins/NavigationDetection/AIModel
/ETS2LA/plugins/NavigationDetection/YOLOFiles
/ETS2LA/plugins/NavigationDetection/YOLOv5_MapDetectionModel.pt