# Ignore the logs
logs

# Ignore the cache
cache

# Ignore the python cache and settings
**/__pycache__
**/settings.json
/ETS2LA/global.json
/ETS2LA/backend/settings/*.json

# Ignore GoDot exports and export config
/godot/ETS2LA-Visualisation/export_presets.cfg
/godot/GoDot Export/*

# Ignore Object Detection models
/ETS2LA/plugins/ObjectDetection/models