torchvision==0.17.2
tkinter-tooltip
beautifulsoup4
opencv-python
torch==2.2.2
transformers
ultralytics
setuptools
websockets
screeninfo
pywebview
gitpython
dearpygui
bettercam
keyboard
requests
pywin32
fastapi
uvicorn
pillow
psutil
pygame
numpy
mouse
scipy
rpyc
mss
