opencv-contrib-python
tkinter-tooltip
beautifulsoup4
opencv-python
transformers
ultralytics
torchvision
setuptools
websockets
screeninfo
pywebview
gitpython
dearpygui
bettercam
keyboard
requests
ipython
pywin32
fastapi
uvicorn
pillow
psutil
pygame
mouse
scipy
numpy
torch
rpyc
mss
