importlib-metadata
deep-translator
tkinter-tooltip
opencv-python
ultralytics
torchvision
torchaudio
matplotlib
setuptools
tkwebview2
GitPython
PyAutoGUI
pywebview
colorama
keyboard
progress
requests
pywin32
pygame
psutil
sv_ttk
Babel
gdown
mouse
numpy
scipy
wheel
torch
mss