@import "tailwindcss";
@plugin "tailwindcss-animate";

html {
  font-feature-settings: "locl";
}

@theme {
  --color-text-h: var(--text-h);
  --color-text: var(--text);
  --color-text-l: var(--text-l);
  --color-description: var(--description);

  --color-bg: var(--bg);
  --color-bg-dark: var(--bg-dark);
  --color-bg-darker: var(--bg-darker);

  --color-border: var(--border);

  --color-control: var(--control);
  --color-control-bg: var(--control-bg);
  --color-control-bg-dark: var(--control-bg-dark);

  --color-text-accent: var(--text-accent);
  --color-accent: var(--accent);
  --color-accent-border: var(--accent-border);
  --color-accent-dark: var(--accent-dark);
  --color-accent-bg: var(--accent-bg);

  --color-success: var(--success);
  --color-success-dark: var(--success-dark);
  --color-success-bg: var(--success-bg);

  --color-warning: var(--warning);
  --color-warning-dark: var(--warning-dark);
  --color-warning-bg: var(--warning-bg);

  --color-danger: var(--danger);
  --color-danger-dark: var(--danger-dark);
  --color-danger-bg: var(--danger-bg);

  --color-code-bg: var(--code-bg);

  --font-sans: 
    Outfit, 
    /* Other "Western" Languages */ "Noto Sans",
    /* Japanese */ "Noto Sans JP", "Hiragino Sans", "Meiryo",
    /* Simplified Cn */ "Noto Sans SC", "PingFang SC", "Microsoft YaHei",
    /* Traditional Cn */ "Noto Sans TC", "PingFang TC", "Microsoft JhengHei",
    /* Korean */ "Noto Sans KR", "Malgun Gothic",
    /* System */ sans-serif;
  --font-heading: 
    Outfit, 
    /* Other "Western" Languages */ "Noto Sans",
    /* Japanese */ "Noto Sans JP", "Hiragino Sans", "Meiryo",
    /* Simplified Cn */ "Noto Sans SC", "PingFang SC", "Microsoft YaHei",
    /* Traditional Cn */ "Noto Sans TC", "PingFang TC", "Microsoft JhengHei",
    /* Korean */ "Noto Sans KR", "Malgun Gothic",
    /* System */ sans-serif;
  --font-mono: ui-monospace, Consolas, monospace;
}

:root {
  --text-h: #FFFFFF;
  --text: #DADADA;
  --text-l: #BABABA;
  --description: #797979;
  
  --bg: #2B2B2B;
  --bg-dark: #272727;
  --bg-darker: #242424;
  
  --border: #474747;
  
  --control: #474747;
  --control-bg: #2D2D2D;
  --control-bg-dark: #2A2A2A;
  
  --text-accent: #ecaf93;
  --accent: #9a6a54;
  --accent-border: #61493C;
  --accent-dark: #423732;
  --accent-bg: #211916;
  
  --success: #008E3A;
  --success-dark: #006B2A;
  --success-bg: #003B1A;

  --warning: #BF8900;
  --warning-dark: #7F5C00;
  --warning-bg: #3F2B00;

  --danger: #C64555;
  --danger-dark: #8A2D3A;
  --danger-bg: #3F1A1F;

  --code-bg: #222222;

  color-scheme: light dark;
  color: var(--text);
  background-color: var(--bg);
  
  font-size: 14px;
  letter-spacing: 0.18px;
  font-family: var(--font-sans);
  font-weight: 500;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
  background-color: var(--accent);
  color: var(--text-h);
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-h: #FFFFFF;
    --text: #DADADA;
    --text-l: #BABABA;
    --description: #797979;

    --bg: #2B2B2B;
    --bg-dark: #272727;
    --bg-darker: #242424;

    --border: #474747;

    --control: #474747;
    --control-bg: #2D2D2D;
    --control-bg-dark: #2A2A2A;

    --text-accent: #ecaf93;
    --accent: #9a6a54;
    --accent-border: #61493C;
    --accent-dark: #423732;
    --accent-darker: #322925;

    --success: #01bb4e;
    --success-dark: #006B2A;
    --success-bg: #003B1A;

    --warning: #ca9100;
    --warning-dark: #7F5C00;
    --warning-bg: #3F2B00;

    --danger: #ca3345;
    --danger-dark: #8A2D3A;
    --danger-bg: #2f1418;

    --code-bg: #222222;
  }
}

@utility description {
  color: var(--description);
  font-size: 12px;
}

body {
  margin: 0;
}

h1 {
  color: var(--text-h);
  font-size: 24px;
  font-weight: 600;
}

h2 { 
  color: var(--text-h);
  font-size: 20px;
  font-weight: 600;
}

h3 {
  color: var(--text-h);
  font-size: 16px;
  font-weight: 600;
}

.button {
  color: var(--text-h);
  background-color: var(--control-bg-dark);
  border: 1px solid var(--border);
  border-radius: 6px;
  padding: 6px 12px;
  transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button:hover {
  background-color: var(--control-bg);
}

.button-small {
  font-size: 12px;
  border-radius: 4px;
  padding: 4px 8px;
}

.button-accent {
  color: var(--text-h);
  background-color: var(--accent-darker);
  border: 1px solid var(--accent-border);
}

.button-accent:hover {
  background-color: var(--accent-dark);
}

/* Animations */
/* Most places use tailwindcss-animate, but sometimes it's useful to write
   them manually for more control. */

.notification-anim-wrapper {
  display: grid;
  grid-template-rows: 1fr;
  opacity: 1;
  margin-top: 0.625rem; /* gap-2.5 (10px) */
  transition: grid-template-rows 300ms cubic-bezier(0.4, 0, 0.2, 1),
              margin-top 300ms cubic-bezier(0.4, 0, 0.2, 1),
              opacity 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.notification-anim-wrapper.exiting {
  grid-template-rows: 0fr;
  margin-top: 0;
  opacity: 0;
}

.notification-anim-wrapper > div {
  overflow: hidden;
}

.notification-anim-content {
  transform: scale(1);
  opacity: 1;
  transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1),
              opacity 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.notification-anim-wrapper.exiting .notification-anim-content {
  transform: scale(0.75);
  opacity: 0;
}

@keyframes indeterminate {
  0% {
    left: -35%;
    width: 35%;
  }
  60% {
    left: 100%;
    width: 70%;
  }
  100% {
    left: 100%;
    width: 100%;
  }
}

.animate-indeterminate {
  animation: indeterminate 1.5s infinite ease-in-out;
}

/* Copied from https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap
   and modified to use a local font file. */

/* latin-ext */
@font-face {
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('/Outfit.ttf') format('truetype');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('/Outfit.ttf') format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}