@import "tailwindcss";

@theme {
  --color-text-h: var(--text-h);
  --color-text: var(--text);
  --color-text-l: var(--text-l);
  --color-description: var(--description);

  --color-bg: var(--bg);
  --color-bg-dark: var(--bg-dark);
  --color-bg-darker: var(--bg-darker);

  --color-border: var(--border);

  --color-control: var(--control);
  --color-control-bg: var(--control-bg);
  --color-control-bg-dark: var(--control-bg-dark);

  --color-accent: var(--accent);
  --color-accent-border: var(--accent-border);
  --color-accent-dark: var(--accent-dark);
  --color-accent-bg: var(--accent-bg);

  --color-success: var(--success);
  --color-success-dark: var(--success-dark);
  --color-success-bg: var(--success-bg);

  --color-warning: var(--warning);
  --color-warning-dark: var(--warning-dark);
  --color-warning-bg: var(--warning-bg);

  --color-danger: var(--danger);
  --color-danger-dark: var(--danger-dark);
  --color-danger-bg: var(--danger-bg);

  --color-code-bg: var(--code-bg);

  --font-sans: Outfit, system-ui, sans-serif;
  --font-heading: Outfit, system-ui, sans-serif;
  --font-mono: ui-monospace, Consolas, monospace;
}

:root {
  --text-h: #FFFFFF;
  --text: #DADADA;
  --text-l: #BABABA;
  --description: #797979;
  
  --bg: #2B2B2B;
  --bg-dark: #272727;
  --bg-darker: #242424;

  --border: #474747;

  --control: #474747;
  --control-bg: #2D2D2D;
  --control-bg-dark: #2A2A2A;

  --accent: #9a6a54;
  --accent-border: #61493C;
  --accent-dark: #423732;
  --accent-bg: #211916;
  
  --success: #008E3A;
  --success-dark: #006B2A;
  --success-bg: #003B1A;

  --warning: #BF8900;
  --warning-dark: #7F5C00;
  --warning-bg: #3F2B00;

  --danger: #C64555;
  --danger-dark: #8A2D3A;
  --danger-bg: #3F1A1F;

  --code-bg: #222222;

  color-scheme: light dark;
  color: var(--text);
  background-color: var(--bg);
  
  font-size: 14px;
  letter-spacing: 0.18px;
  font-family: var(--font-sans);
  font-weight: 500;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
  background-color: var(--accent);
  color: var(--text-h);
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-h: #FFFFFF;
    --text: #DADADA;
    --text-l: #BABABA;
    --description: #797979;

    --bg: #2B2B2B;
    --bg-dark: #272727;
    --bg-darker: #242424;

    --border: #474747;

    --control: #474747;
    --control-bg: #2D2D2D;
    --control-bg-dark: #2A2A2A;

    --accent: #9a6a54;
    --accent-border: #61493C;
    --accent-dark: #423732;
    --accent-darker: #322925;

    --success: #008E3A;
    --success-dark: #006B2A;
    --success-bg: #003B1A;

    --warning: #BF8900;
    --warning-dark: #7F5C00;
    --warning-bg: #3F2B00;

    --danger: #C64555;
    --danger-dark: #8A2D3A;
    --danger-bg: #3F1A1F;

    --code-bg: #222222;
  }
}

@utility description {
  color: var(--description);
  font-size: 12px;
}

body {
  margin: 0;
}

h1 {
  color: var(--text-h);
  font-size: 24px;
  font-weight: 600;
}

h2 { 
  color: var(--text-h);
  font-size: 20px;
  font-weight: 600;
}

h3 {
  color: var(--text-h);
  font-size: 16px;
  font-weight: 600;
}

.button {
  color: var(--text-h);
  background-color: var(--control-bg-dark);
  border: 1px solid var(--border);
  border-radius: 6px;
  padding: 6px 12px;
  transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button:hover {
  background-color: var(--control-bg);
}

.button-accent {
  color: var(--text-h);
  background-color: var(--accent-darker);
  border: 1px solid var(--accent-border);
}

.button-accent:hover {
  background-color: var(--accent-dark);
}